@import "compass";

@mixin data-uri-bg($image, $properties: false) {
	@if $properties != false {
		background: inline-image($image) $properties;
		*background: url($image) $properties;
	}
	@else {
		background: inline-image($image);
		*background: url($image);
	}
}

@mixin retina-image($image, $ext, $resolution, $properties: false) {
	background: url(../images/#{$image}.#{$ext}) $properties;
	@media only screen and (-webkit-device-pixel-ratio: 2) {
		background: url(../images/#{$image}_2X.#{$ext}) $properties;
		background-size: $resolution;
	}
}

// Variables
$color-alert: #ffc600;
$color-link: #1c6ccf;
$color-font: #333;

body {
	min-height: 100%;
	@include retina-image("ricepaper", "png", 500px 500px, repeat);
	color: $color-font;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

@function emCalc($desiredFont, $baseFont: 12px) {
	@return ($desiredFont / $baseFont) + 0em;
}

.fleximage {
	max-width: 100%;
	width: 100%;
	height: auto;
}

@import "icomoon";

// Fonts
h2 {
	margin-bottom: 30px;
	font-size: emCalc(30px);
	line-height: 1;
}

h3 {
	margin-bottom: 10px;
	font-size: emCalc(18px);
}

a {
	color: $color-link;

	&:hover {
		color: $color-font;
		text-decoration: none;
	}
}
